# Pastas e arquivos de ambiente virtual
venv/
instance/

# Arquivo de banco de dados SQLite
*.db

# Pastas e arquivos temporários
__pycache__/
*.py[cod]

# Arquivos de ambiente
.env
.flaskenv

# Arquivos específicos de IDE ou editor que não são necessários para o projeto em si
.vscode/
.idea/

# Arquivos de cache ou diretórios específicos do sistema operacional que não devem ser incluídos
.DS_Store
Thumbs.db