
.sidebar {
    width: 25%;
    background-color: #676666; /* Cinza grafite */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.sidebar button {
    width: 80%;
    padding: 10px;
    background-color: #ff6347; /* Cor salmão para botões */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #e5533b; /* Escurecer no hover */
}


@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        flex-direction: row;
        overflow-x: auto;
        align-items: center;
    }

    .sidebar button {
        flex: 1; /* Cresce uniformemente ocupando o espaço disponível */
        min-width: 100px; /* Garante um mínimo de largura */
        min-height: 60px;
        padding: 10px 0; /* Padding uniforme */
    }
}