/* Dashboard.css */
.dashboard {
    display: flex;
    flex-direction: row; /* Garante orientação correta */
    min-height: calc(100vh - 60px); /* Subtrai a altura da NavBar */
    width: 100%; /* Garante que o dashboard ocupe toda a largura */
    margin-top: 60px; /* Empurra o dashboard para começar abaixo da NavBar */
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
        margin-top: 60px; /* Mantém o espaço no topo em telas menores */
    }
}
