/* Reset básico para padronizar os estilos nos navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif; /* Escolher a fonte que preferir, DEPOIS!!! */
  background-color: #f4f4f4; /* Cor de fundo clara */
  color: #333; /* Cor de texto padrão */
}

/* Estilos universais para cabeçalhos */
h1, h2, h3, h4, h5, h6 {
  color: #333; /* Cor escura para títulos */
  margin-bottom: 0.5em;
}

/* Estilos para botões */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff6347; /* Cor salmão para botões */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1px;
}

button:hover {
  background-color: #ff4500; /* Um tom mais escuro no hover */
}

/* Estilos para links */
a {
  color: #007bff; /* Cor azul padrão para links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para formulários */
input, select, textarea {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* Largura completa ajustada para padding e border */
}

/* Estilos para contêineres e seções */
.container {
  padding: 20px;
  margin: auto;
  max-width: 1200px; /* Largura máxima para centrar e limitar o conteúdo grande */
}

.section {
  margin-bottom: 20px; /* Espaçamento entre seções */
}

/* Utilitários adicionais */
.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}
